---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/push/target?api_key=<ITERABLE_TOKEN>
    body:
      encoding: UTF-8
      string: '{"recipientEmail":"user@example.com","campaignId":4183582}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Campaign 4183582 - Sent triggered message to: user@example.com","code":"Success","params":null}'
  recorded_at: Thu, 05 May 2022 23:42:38 GMT
recorded_with: VCR 3.0.3
